MS430/Raspberry_Pi/gspreads_package/perfect-transit-298617-ae8840d45b6e.json
MS430/Raspberry_Pi/connection_package/enviroment.py
Documentação/designing-mqtt-topics-aws-iot-core.pdf
Documentação/Securing_IoT_with_AWS.pdf
Documentação/wellarchitected-iot-lens.pdf
MS430/Raspberry_Pi/iot2bv2-ebd620022c11.json
MS430/Raspberry_Pi/gspreads_package/iot2bv2-ebd620022c11.json
MS430/Raspberry_Pi/cont.txt
